<footer>
    <section class="footer">

        <div class="box-container">
     
           <div class="box">
              <h3>quick links</h3>
              <a href="home.ejs"> <i class="fas fa-angle-right"></i> home</a>
              <a href="ReportUrl.ejs"> <i class="fas fa-angle-right"></i> Report Url</a>
              <a href="BlackListedURLS.ejs"> <i class="fas fa-angle-right"></i> BlackListed URLS</a>
              <a href="Blogs.ejs"> <i class="fas fa-angle-right"></i> Blogs</a>
              <a href="About.ejs"><i class="fa-angle-right"></i>About</a>


           </div>
     
           <div class="box">
              <h3>extra links</h3>
              <a href="#"> <i class="fas fa-angle-right"></i> ask questions</a>
              <a href="#"> <i class="fas fa-angle-right"></i> about us</a>
              <a href="#"> <i class="fas fa-angle-right"></i> privacy policy</a>
              <a href="#"> <i class="fas fa-angle-right"></i> terms of use</a>
           </div>
     
           <div class="box">
              <h3>contact info</h3>
              <a href="#"> <i class="fas fa-phone"></i> 7456383848 </a>
              <a href="#"> <i class="fas fa-phone"></i> 8934567123 </a>
              <a href="#"> <i class="fas fa-envelope"></i>xyz@gmail.com  </a>
              <a href="#"> <i class="fas fa-map"></i> Nainital, india - 263001 </a>
           </div>
     
           <div class="box">
              <h3>follow us</h3>
              <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
              <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
              <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
              <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
           </div>
     
        </div>
     
        <div class="credit"> created by <span>Docent</span> | all rights reserved! </div>
     
     </section>
     
</footer>
<script src="/js/_footer.js"></script>