 <link rel="stylesheet" href="/css/blog.css">

 <section class="about container" id="about">
        <div class="contentBx">
            <h2 class="titleText">Catch up with the trending topics</h2>
            <p class="title-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eos consequuntur voluptate dolorum totam provident ducimus cupiditate dolore doloribus repellat. Saepe ad fugit similique quis quam. Odio suscipit incidunt distinctio.
                <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed blanditiis libero pariatur ipsum suscipit voluptates aut, repellendus quos dolor autem, natus laboriosam consectetur maxime cumque, sunt magni optio? Veritatis, ea?
                
            </p>
            <a href="#" class="btn2" href="https://www.lastwatchdog.com/">Read more</a>
        </div>
        <div class="imgBx">
            <img src="img/bk.jpg" alt="" class="fitBg">
        </div>
    </section>

   
    
    <div class="post container">
        <!-- Post 1 -->
        <div class="post-box tech">
            <img src="/img/s1.jpg" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="#" class="post-title">How to protect yourself from social engineering</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 2 -->
        <div class="post-box food">
            <img src="/img/s2.jpg" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="#" class="post-title">Know how to be safe from Ransomeware</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 3 -->
        <div class="post-box food">
            <img src="/img/s3.jpg" alt="" class="post-img">
            <h2 class="category">Food</h2>
            <a href="#" class="post-title">Man in the middle attack</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 4 -->
        <div class="post-box news">
            <img src="/img/s4.jpg" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="#" class="post-title">Researchers Uncover New Linux Kernel 'StackRot' Privilege Escalation Vulnerability</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 5 -->
        <div class="post-box tech">
            <img src="/img/s5.webp" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="#" class="post-title">How Pen Testing can Soften the Blow on Rising Costs of Cyber Insurance</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 6 -->
        <div class="post-box news">
            <img src="/img/s6.webp" alt="" class="post-img">
            <h2 class="category">News</h2>
            <a href="#" class="post-title">Silentbob Campaign: Cloud-Native Environments Under Attack</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 7 -->
        <div class="post-box tech">
            <img src="/img/s7.webp" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="#" class="post-title">A New Era Of Security: Are Passwords No Longer Fit For Purpose?</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 1 -->
        <div class="post-box news">
            <img src="/img/s8.webp" alt="" class="post-img">
            <h2 class="category">News</h2>
            <a href="#" class="post-title">Apple issues fix for zero-day flaws used in spy attacks against Kaspersky. Patch now!</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
        <!-- Post 9 -->
        <div class="post-box food">
            <img src="/img/s9.jpg" alt="" class="post-img">
            <h2 class="category">Food</h2>
            <a href="#" class="post-title">Why Is the Browser So Unsafe? Start With Identities and What They Can Access</a>
            <span class="post-date">12 Feb 2022</span>
            <p class="post-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, similique, rerum excepturi harum, vitae facilis corrupti vel modi debitis est perferendis aut quasi ea unde repudiandae iste architecto. Corporis, voluptates.</p>
            <div class="profile">
                <img src="images/testi1.jpg" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
    </div>

   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="main.js"></script>
