<link rel="stylesheet" href="/css/home.css">


<% if(Message!=""){ %>
    <div class="alert alert-primary" role="alert">
        <%= Message %>
       </div>

<%} %>




<section id="home">


  
   

  


   

    <div id = "blackList-link">

        <form action="/blacklist" method="POST">
            

            <div id="input-1">

                
                <label for="adhaar">Enter adhaar number : </label>
                <input type="number" name="adhaar" id="adhaar" required></br> </br>

            </div>


             <div id="input-2">

                <label for="web-address"> Enter suspicious web-address : </label>

                <input id = "web-address" type="url" name="url" required> </br></br><br>


             </div>
            
            <!-- <label for="illegal"> Please provide suspicious activities associated with this particular website : </label></br></br> -->

            <div id="input-3">

                <textarea name="illegal" id="illegal" cols="45" rows="4" placeholder="Please provide suspicious activities associated with this particular website..." required></textarea></br></br>


            </div>

         



            <button class="btn-1" type="submit"> Report </button>




        </form>

        <div id = "trial">

        </div> 


    </div>
</section>

