<link rel="stylesheet" href="<%= assetPath('css/resetPasswordForm.css')%>">



<section id="resetPasswordForm-container">


    <form id="reset-password-form" method="post" action="/users/forgot-password/find-email/reset/<%=Token%>">

        <header>
            Reset Password

        </header>


        <div>

            <label for="password"> Password : </label>
            <input type="password" name="password" id="password">
        </div>


        <div>

            <label for="confirm-password"> Confirm Password : </label>
            <input type="password" name="confirm_password" id="confirm-password">

        </div>


        <input id="button" type="submit" value="Submit">


    </form>

















</section>