<link rel="stylesheet" href="/css/signin.css">



<section id="signin-page">

    <header>

        <button type="button" class="btn btn-success" disabled> Docent Websurfing</button>
        <div class="spinner-border"  role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow"  role="status">
            <span class="visually-hidden">Loading...</span>
         </div>
    </header>



        
    <form action="/users/create-session" method="POST" id="signin-form">



        <div class="d-flex flex-column flex" >

         
        
            <div class="p-2 row mb-3 d-flex flex-nowrap" >
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email&nbsp;:</label>
            <div class="col-sm-10" style="width:140px" >
                <input type="email" class="form-control mg-left-5" id="inputEmail3" placeholder="xyz@123.com" required>
            </div>
            </div>
            <div class="p-2 row mb-3 d-flex flex-nowrap">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password&nbsp;:</label>
            <div class="col-sm-10" style="width:140px">
                <input  type="password" class="form-control  mg-left-5" id="inputPassword3" placeholder="********" required>
            </div>
            </div>


            <button type="submit" class="mx-2 row mb-3 btn btn-primary btn-lg mt-2">Sign In</button>
        </div>
        
    
        
    </form>

<!--   
<div id = "trial">

</div>  -->



</section>










