 <% if(Message!="'){ %>
    <div class="alert alert-primary" role="alert">
        <%= Message %>
       </div>

<%} %>


   <!-- let bgColor; -->

   <% if(<%data.count>8 %>){%>
    <!-- bgColor = "bg-danger"; -->

 <% }else if(<%data.count>3 %>){ %>
    <!-- bgColor = "bg-warning"; -->

  <%}else{%>

    <!-- bgColor = "bg-primary"; -->
    
  <%}%>
