<div id="report-mail">
    <p id="hi-container">Hi <%= data[0].fname%> <%= data[0].lname%> !</p>
    <br>
    <br>

    <p>Click the link below to reset your password (link valid for 5 minutes): </p>
    <br>
    <a href="http://13.126.232.184:8000/users/forgot-password/find-email/reset-password-form/<%=data[1].token%>"> Reset Plassword</a>
    <br>
    <br>
    <p>Thanks!</p>
</div>