<div id="report-mail">
    <p id="hi-container">Hi <%= data[0].fname%> <%= data[0].lname%> !</p>
    <br>
    <br>

    <p>Click the link below to reset your password : </p>
    <br>
    <a href="/users/reset-password/<%=data[1].token%>"> Reset Password</a>
    <br>
    <br>
    <p>Thanks!</p>
</div>