footer{
    position:relative;
    
    bottom: -50vh;   
    color: olivedrab;
    display: flex;
    background-color: lightgrey;
    align-items: center;
    height : 70px; 
    justify-content: center;

   
}