/* .mg-a{
    margin-left:40%;
} */
/* 
.navbar,.container-fluid{
    background-color:#7ed36d61;
    /* #f3d38bad */
    /* #9cf38b61 */
    /* #bb8bf35e */
    /* margin:-0.04%; */

.navbar{
    height:55.2px;
}
#docent-logo{
    position:absolute;
    height:52px;
    width:80px;

  
    margin-left:-56.5px;
    margin-top:-11px;
    border :1px soid black;
 
}

#docent{
    margin-left:27px;
}


.nav-item a{
    color:rgba(255, 255, 255, 0.873);
    
}



.nav-item a:hover{
    color : rgb(255, 255, 255);
    border-bottom : 0.5px solid rgb(243, 235, 235);
    

}



.navbar-brand span:hover{
    
    color:antiquewhite;
   


}


.link a{
    color:rgba(220, 237, 237, 0.951);
}

.link a:hover{
    color : rgb(255, 255, 255);
    
}
