#home {
   
    position : relative;
    top:0.06vh;
    bottom : 10vh;
}

#carouselExampleDark{
    background-color:#06c7aa22;



}

#form-container{
     background-color:#06c7aa22; 
     height:505px;
}  



#report-link-header{
    width:170px;
    position:realtive;
    left:40%;
    margin:auto;
}

#report-link-header .btn{
 
    margin-top:35px;
    width:155px;
    height:61px;
    font-size:1.28rem;
    font-weight:700;
    margin-bottom:8px;
    background-color: #49187998;
    cursor:default;
  

}


#report-link-header .btn:hover{
    background-color: #491879bb;
}


#blacklist-link-form label{
    width:100px;   
}

#blacklist-link-form{

    position: relative;
    top:1.89vh;
    margin:auto;
    margin-bottom : 50px;
  
    width:350px;
    
}

#blacklist-link-form .btn{
    width:115px;
    height:45px;
    position:relative;   
    top:2vh;
    font-size:1.2rem;
    padding:6px;
    

}

#blacklist-link-form div div{
    width:210px;
} 
#blacklist-link-form div{
    width:210px;
}

#blacklist-link-form div div div{
    width:290px;
} 

#web-address,#adhaar{
    width:160px;
}
#illegal{
    width:320px;
}


.carousel-item img{
    height:473px;
    width:100vw;
}

.carousel-caption h5{
    font-size: 2rem;
   
    color: rgb(61 38 38 / 93%);
}
.carousel-caption p{
    color:#0b290eeb;
    font-size:1.22rem;
    font-weight:500;
}


.element{

    height:505px;
    width:470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin:auto;
}

.element h2{
    text-align: center;
    position: relative;
    top:-35px;
    font-family:'Brush Script MT', cursive;
    font-size:2rem;
    letter-spacing: 0.2rem;
    font-weight:600;
    color:rgba(254, 0, 0, 0.74);
    
}

.element h2::first-letter{
    font-size:4.15rem;
    font-weight:800;
    color:rgba(255, 0, 0, 0.773);
}

.flex-container-group{
    display:flex;
   
   flex-direction: column;

 } 

.group-cards{

    margin-bottom:28px;
    display:flex;
    justify-content: space-evenly;
}

.group-cards a{
    text-decoration: none;
}

.cards{
  
    height:105px;
   
    width:105px;
    background-color: white;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    color:  #014d8e;
  
    box-shadow: 2px 2px 2px 2px;
}

.cards i{
    margin-top:17px;
    font-size:2.3rem;
    /* color:red; */
}

.cards p{
    font-size:0.73rem;
    margin:auto;
    font-weight:600;
    margin-left:26px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    width: 60px;
}

.cards:hover{
    color:#01437d;

}


#data h2{
    color: #dd4024e5;
}

#data h2::first-letter{
    color: #dd4024fb;
}

#data .flex-container-group .group-cards a .cards{
    color :#ff6f00ea;
}


#reliable-sites h2{
    color:rgba(0, 0, 0, 0.712);
}

#reliable-sites h2::first-letter{
    color:rgba(0, 0, 0, 0.767);
}

#reliable-sites .flex-container-group .group-cards a .cards{
    color : rgba(255, 0, 0, 0.781);
}

#other{
    position:relative;
    top:15vh;
}

/*margins*/
.mg-left-5{
    margin-left:5rem;
} 
  
/*media query*/
@media only screen and (max-width:480px){


        
    #report-link-header .btn{
        top:50px; 
        font-size:1.15rem;
        padding:7px;
        height:46px;
        width:120px;
        margin-top:15px;
    }


    #blacklist-link-form {
        position:relative;
        left:-7.2%;
        top:1.5vh;
        font-size:0.95rem;
        width: 145px;
        display:flex;
        justify-content: center;
    }

    #blacklist-link-form .btn{
      
        width:90px;
        height:35px;
        padding:5px;
        top:3vh;
        font-size: 1.05rem;
    }

    #adhaar,#web-address{
        position: relative;
        left:-20px;
        width:110px;    
    }

    #blacklist-link-form div{
        width:295px;
    }

    #blacklist-link-form div div{
        margin-top : -7.14px;
    }

    #input-3 textarea{
        font-size:0.932rem;
        font-style: italic;
        width:245px;
        height:90px;
        margin-left:1.4%;
    }
    
        
    .carousel-caption h5{
        font-size: 1.5rem;
       
     
    }
    .carousel-caption p{
       
        font-size:0.935rem;
        font-weight:500;

    }
    .carousel-item img{
        height:82vh;
        width:100vw;
    }


    #form-container{
        height:500px;
    }
        
    .element{
      
        height:500px;
        width:280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
    }

        
    .element h2{
        
        top:5px;
        font-size:1.6rem;
        letter-spacing: 0.2rem;

    }

   .element h2::first-letter{
        font-size:2.8rem;
        font-weight:600;
    }


    .flex-container-group{
        margin:auto;
        display:flex;
        flex-direction: row;
        position:relative;
        left:-9px;
        justify-content: space-between;     
        width:90%;
        margin-top:10px;

    
    }
          
    .group-cards{
        margin-bottom:0px;
        flex-direction: column;
        width:40%;
    }
        
    .cards{
        height:94px;
        width:94px;
        margin:10px;

    }

    .cards i{
        font-size:2rem;
    }
        
    .cards p{
        font-size:0.65rem;
        margin-left:15.35px;
    }

    #data h2{
        font-size:1.48rem;
    }

}  