#home {
    color: red;
    position : relative;
    top : 9vh;
    margin-bottom: 8vh;
    background-color: white;
  

}

#home #trial{
    height:1000px;
    border : 4px solid purple;
    width:auto

}

#blackList-link{
    display:flex;
    justify-content: center;
    flex-direction: column;
    border : 6px solid green;
   
    
}

#blackList-link form{
    /* margin:auto; */
    border : 2px solid red;
   
    width: 35%;
    color :#823720;
    font-family:monospace;
    
    
  

}

#blackList-link #illegal{
    width: 0;
    min-width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    
    font-style: italic;
    border-bottom: 2px solid black;
  
}

/*input inside blackList-link*/
#adhaar,#web-address{

    border:none;
    outline:none;
    border-bottom: 1.5px solid black;
    width:40%;
}




.btn-1 {
    /* height: 50px;
    width: 135px; */
    border-radius: 10px;
    color: whitesmoke;
    font-size: 16px;
    border: none;
    background-color: black;
    transition: .4s;
  

    left: 6%;
}

.btn-1:hover {
    /* width: 150px;
    height: 57px; */
    background-color: darkred;
}



@media only screen and (min-width:320px) {

        
    #blackList-link #illegal{
        /* width: 0; */
        min-width: 90%; 
        font-size: 0.75rem;
    }

        
    #blackList-link form{
       
        padding : 10px;
        width: 97%;
      
        font-family:sans-serif;
       
        font-size:0.75rem;
    

    }
    #adhaar{
        margin-left:46px;

    }

    #adhaar,#web-address{
        
       
        width:37%;
        

    }
    .btn-1{
        height:38px;
        width:117px;
    }
    .btn-1:hover{
        height:43px;
        width:125px;

    }
   
}



@media only screen and (min-width:480px){

    
        
    #blackList-link #illegal{
     
        min-width: 94%;
    
    }

        
    #blackList-link form{
        margin-left:2%;
        padding : 7px;
        width: 80%;
        font-size:0.76rem;
    }

    .btn-1{
        height:45px;
        width:127px;
    }
    .btn-1:hover{
        height:49px;
        width:132px;

    }

    #adhaar{

        margin-left:55px;

    }

    #web-address{
        margin-left:8px;
    }

    
   

} 







@media only screen and (min-width : 720px){

        
    #blackList-link #illegal{
     
        min-width: 94%;
    
    }

        
    #blackList-link form{
        margin:auto;
        padding : 18px;
        width: 59%;
        font-size:0.8rem;
       
    }

   
    
    #adhaar{

        margin-left:57px;

    }

         
    .btn-1 {
        height: 50px;
        width: 135px;
    }

    .btn-1:hover {
        width: 150px;
        height: 57px;
       
    }


}

@media only screen and (min-width : 1420px){

          
    #blackList-link #illegal{
     
        min-width: 100%;
        font-size: 14px;
    
    }

        
    #blackList-link form{
        margin:auto;
        padding : 35px;
        width: 35%;
        font-size: 14px;
        word-spacing: -0.05rem;
    }

   
    
    
    #adhaar{
        
        margin-left:65px;
    }

    #adhaar,#web-address{
        width:50%;
    }

   


}
