#home {
   
    position : relative;
    top : 12vh;
    bottom : 10vh;
    /* background-color: rgba(213, 233, 230, 0.692); */
  

}

#home #trial{
    height:1000px;
    border : 4px solid purple;
    width:auto

}

#blackList-link{
    display:flex;
    justify-content: center;
    flex-direction: column;
    /* border : 6px solid green; */
    flex-wrap: wrap;
    /* postition:relative; */
   
    
}

  
#blackList-link form{
    margin:auto; 
    border : 0.8px solid white;
    display:flex;
    flex-direction: column;

    background-image: url(../img/form-bg.jpg);
    background-size:cover;
    
    background-repeat: repeat;

   
    width: 35%;
    color :#407064ee;
    font-weight: 535;
    font-family:monospace;
    transition : 0.4s;
    
    
  

}

#blackList-link form:hover{
    border : 2px solid whitesmoke;
}

#blackList-link #illegal{
    width: 0;
    min-width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(110, 98, 98);
    
    font-style: italic;
    border-bottom: 1.7px solid #30101047;
  
}

/*input inside blackList-link*/
#adhaar,#web-address{

    border:none;
    outline:none;
    border-bottom: 1.7px solid #83585834;
    width:40%;
    background: transparent;
    color: rgb(110, 98, 98);
    
}




.btn-1 {
    /* height: 50px;
    width: 135px; */
    position:relative;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 15px;
    border: none;
    background-color: rgba(48, 24, 48, 0.6);
    transition: .4s;
  

    left: 6%;
}

.btn-1:hover {
    /* width: 150px;
    height: 57px; */
    background-color: rgba(139, 0, 0, 0.662);
}

 

@media only screen and (min-width:320px) {

        
    #blackList-link #illegal{
         width: 0;
        min-width: 90%; 
        font-size: 0.75rem;
    }

        
    #blackList-link form{
       
        padding : 10px;
        width: 100%;
      
        font-family:sans-serif;
       
        font-size:0.72rem;
    

    }

   


    #adhaar{
        margin-left:43px;
    }


    #adhaar,#web-address{
        
       
        width:37%;
        

    }
    .btn-1{
       

        left:-1%;
        top:1vh;
        height:40px;
        width:106px;
    }
    .btn-1:hover{
        height:43px;
        width:125px;

    }
   
}



@media only screen and (min-width:480px){

    
        
    #blackList-link #illegal{
     
        min-width:87%;
    
    }

        
    #blackList-link form{
        margin:auto;
        padding : 7px;
        width: 72%;
        font-size:0.76rem;
    }

    #blackList-link form:hover{
        width:74.3%;

    }

    .btn-1{
       
        font-size:15.5px;
        left:0%;
        top:0.7vh;
        height:44px;
        width:108px;
    }
    .btn-1:hover{
        height:49px;
        width:120px;

    }

    #adhaar{

        margin-left:58px;

    }
    #web-address{
        margin-left:10px;
    }

    
   

} 







@media only screen and (min-width : 768px){

        
    #blackList-link #illegal{
     
        min-width: 90%;
        font-size:1rem;
    
    }

        
    #blackList-link form{
        margin:auto;
        padding : 18px;
        width: 59%;
        font-size:1rem;
       
    }

    
    #blackList-link form:hover{
        width:61.2%;
        
    }

   
    
    #adhaar{

        margin-left:71.5px;

    }

         
    .btn-1 {
      

        font-size:16.5px;

        left:0%;
        top:1.3vh;

        height: 50px;
        width: 135px;
    }

    .btn-1:hover {
        width: 150px;
        height: 57px;
       
    }


}
 



@media only screen and (min-width : 1024px){

        
    #blackList-link #illegal{
     
        min-width: 75%;
        font-size:1.35rem;
    
    }

        
    #blackList-link form{
        margin:auto;
        padding : 18px;
        width: 56%;
        font-size:1.35rem;
       
    }
    
    #blackList-link form:hover{
        width:58%;
        
    }
   
    
   
    #adhaar{

        margin-left:95px;

    }

    #web-address{
        margin-left:12px;
    }

         
    .btn-1 {

        font-size:19px;
       

        left:0%;
        top:1vh;

        height: 67px;
        width: 172px;
    }

    .btn-1:hover {
        width: 180px;
        height: 75px;
       
    }


}
 



@media only screen and (min-width : 1200px){

          
    #blackList-link #illegal{
     
        min-width: 69%;
        font-size: 17px;
    
    }

        
    #blackList-link form{
        margin:auto;
        padding : 15px;
        width: 42%;
        font-size: 17px;
      
    }

    
    #blackList-link form:hover{
        width:43%;
        
    }

   
    
    
    #adhaar{
        
        margin-left:82px;
    }

    #web-address{
        margin-left:10px;
    }

    #adhaar,#web-address{
        width:39%;
    }

         
    .btn-1 {

        font-size:20px;
       

       
        top:1.5vh;

        height: 60px;
        width: 180px;
    }

    .btn-1:hover {
        width: 185px;
        height: 70px;
       
    }


   


}

