#resetPasswordForm-container{
    height:70vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}


#reset-password-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:280px;
    width:410px;
    
    background-color: black;
    box-shadow: 2px 2px 4px 4px;

}

#reset-password-form header{
    color: white;
    text-align: center;
    position: relative;
    font-size:2rem;
    font-weight: 500;
    top:-16px;
}

#reset-password-form div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom:18px;
}

#reset-password-form div label{
    color : white;
    margin-left:8px;
    position: relative;
    top:3px;
}

#reset-password-form div input{
    margin-right:5px;
    width:240px;
}

#reset-password-form #button{
    position: relative;
    top:31px;

    font-weight: 500;
    
}

@media only screen and (max-width:480px){

    #resetPasswordForm-container{
        margin:auto;
        height:480px;
        width:100%;
        display:flex;
        justify-content:center;
        align-items: center;
        background-color: whitesmoke;
    }

        
    #reset-password-form{
        margin-top:-100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:280px;
        width:316px;
        
        background-color: black;
        box-shadow: 1px 1px 4px 4px;

    }

        
    #reset-password-form div{
        display: flex;
       
        margin-top: 20px;
        margin-bottom:18px;
    }
    

        
    #reset-password-form header{
        font-size:1.8rem;
    }

        
    #reset-password-form div label{
        font-size:0.89rem;
        margin-left:5px;
    }

        
    #reset-password-form div input{
        min-width: 160px;
        width:36vw;
        margin-right:3px;
    }

    #reset-password-form #button{
        top:29px
    }



}

