
#signup-page{
  margin-top:196px;
}
#signup-page header{
 
  position:relative;
  display:flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  /* left:30%; */
  margin:auto;
  width:405px;
  height:90px;
  margin-top:35px;


}
#signup-page header div{
color:#000000b3;
width:3rem;
height:3rem;


}



#signup-page header h1{
font-size:2.45rem;
font-weight: bolder;
font-family: 'Brush Script MT', cursive;
}

#signup-page header h1::first-letter{
font-size:4.6rem;

}


#signup-form label{
    /* border :2px solid green; */
    width:100px;  
    margin-left:-25px;;
    
}

#signup-form input{
  margin-left:85px;
  box-shadow: 1px 1px .8px .8px;
}



#signup-form{  
    width:350px;
    position: relative;
    top:4.5vh;
    margin:auto;
   
}

#confirm-pass{
  font-size: 0.89rem;
}



#signup-submit-container{
  width:380px;
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}



#signup-submit-container #signup-button{
 
  margin-top:5px;
  width:200px;
  text-align: center;
  height:41px;
  box-shadow: 1.4px 1.4px 1.5px 1.5px;
  /* background-color: rgb(14, 51, 235); */
  background-color: #d36a9f;
  border-radius: 5px;

  
 
}

#signup-submit-container #signup-button button{
  font-size:1.19rem;
  font-weight: 500;
}

#signup-button button{

  background: transparent;
  border:none;
  width:100%;
  height:100%;
  color:white;

}

#signup-button:hover{
  box-shadow: 1.5px 1.5px 2px 2px;
}

#f-name,#l-name,#inputEmail3,#inputPassword3,#confirm-password3,#adhaar{
    /* display:inline-block; */
    width:210px;
  
  } 

#signup-form div div div{
    width:100px;
} 

#signup-form div div {   
    width:300px;
}

/*margins*/
.mg-left-5{
    margin-left:3rem;
} 


#container p{
  color:grey;
  width:22px;
  margin:auto;
  position:relative;
  font-size:0.85rem;
  padding:3px;
  top:37px;
}

#line-break{
  position: relative;
  top:42px;
  height:2px;
  width:415px;
  border-bottom:1.3px solid grey;;
  margin:auto;
}
/* 
#google-signin{
  width:425px;
  height:44px;
  position: relative;

 
  box-shadow: 2.2px 2.2px 3px 3px;
  border-radius: 17px;
  background-color: blue;
  margin:auto;
 
  top:68px;

}

#google-signin button{
  letter-spacing: 0.1rem;
  margin:auto;
  border:none;
  width:410px;
  height:40px;
  padding:5px;
  background-color:blue;
  font-weight:600;
}

#google-signin:hover{
  box-shadow: 2.4px 2.4px 3.4px 3.4px;
}


#google-signin i{
  display: inline-block;
  position: relative;
  top:1.5px;
  
  left:-15px;
  font-size:1.21rem;
  color:white
} */


/*media query*/
@media only screen and (max-width:480px){

   
  #signup-page{
    margin-top:148px;
  }


  .mg-left-5{
    margin-left:2rem;
  
  }

  #signup-form {
    font-size:0.92rem;
    width:100%;
    top:5vh;
    display:flex;
    justify-content: center;
  }

  #signup-form .btn{
    width:110px;
    height:39px;
    top:-3px;
   
  }

  #signup-page header{
     
    width:280px;
    margin-top:21px;


  } 

  #signup-page header h1{
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Brush Script MT', cursive;
  }

  #signup-page header h1::first-letter{

     font-size:49px;

  }
  #signup-page header div{
    margin-top:0.7rem;
    width:2.2rem;
    height:2.2rem;
  }

  #signup-form{
    margin-top:-37.5px;
  }

  #signup-form label{

    margin-left:-7px;
    font-size: 0.85rem;
  }


  
  #signup-form input{
    /* display:inline-block; */
    margin-left:52px;
    width:146px;
    font-size:0.81rem;
  
  } 



  #signup-form #confirm-pass{
    font-size:0.715rem;
  }

  #signup-submit-container #signup-button{
    width:135px;
   

  }

  #signup-submit-container #signup-button button{
    font-size:1.11rem;
  }

    
  
 

}  

