#signup-page header{
  position:relative;
  display:flex;
  flex-wrap: nowrap; 
  margin:auto;
  width:390px;

  margin-top:2%;



}

#signup-page header div{
  color:#5a823354;
  width:3rem;
  height:3rem;
}

#signup-page header button{
  font-size:30px;
  font-weight: bolder;
  width:340px;
  height:70px;
  cursor:default;
  background-color:#0e7355cd;
}

#signup-page header button:hover{
  background-color: #0e7355dd;
}


#signup-form label{
    /* border :2px solid green; */
    width:100px;  
}



#signup-form{  
    width:350px;
    position: relative;
    top:4.5vh;
    margin:auto;
   
}


#signup-form .btn{
    width:135px;
    height:42px;
    font-size:1.15rem;
    padding:5px;
    position:relative;
    
}

#f-name,#l-name,#inputEmail3,#inputPassword3,#confirm-password3,#adhaar{
    /* display:inline-block; */
    width:210px;
  
  } 

#signup-form div div div{
    width:100px;
} 

#signup-form div div {   
    width:300px;
}

/*margins*/
.mg-left-5{
    margin-left:3rem;
} 


#container p{
  color:grey;
  width:22px;
  margin:auto;
  position:relative;
  font-size:0.85rem;
  padding:3px;
  top:37px;
}

#line-break{
  position: relative;
  top:42px;
  height:2px;
  width:415px;
  border-bottom:1.3px solid grey;;
  margin:auto;
}

#google-signin{
  position: relative;
 
  top:55px;

}

#google-signin button{
  margin:auto;
  width:415px;
  padding:5px;
  background-color: rgba(15, 68, 215, 0.863);
}

#google-signin button:hover{
  background-color:  rgba(15, 68, 215, 0.989);
}

#google-signin button i{
  display: inline-block;
  position: relative;
  left:-5px;
  font-size:1.05rem;
}


/*media query*/
@media only screen and (max-width:480px){

  .mg-left-5{
    margin-left:2rem;
  
  }

  #signup-form {
    font-size:0.92rem;
    width:100%;
    top:5vh;
    display:flex;
    justify-content: center;
  }

  #signup-form .btn{
    width:110px;
    height:39px;
    top:-3px;
   
  }


  #signup-page header{
    width:280px;
    margin-top:25px;
  } 

  #signup-page header button{
    width:260px;
    font-size:20px;
    
  }
  #signup-page header div{
    margin-top:0.7rem;
    width:2.2rem;
    height:2.2rem;
  }
  
  #f-name,#l-name,#inputEmail3,#inputPassword3,#confirm-password3,#adhaar{
    /* display:inline-block; */
    width:150px;
    font-size:0.92rem;
  
  } 


    
  #container p{
    font-size:0.9rem;
    margin-top:-5px;
     
    padding:3px;
   
  }

    
     
  #line-break{
   
    top:36px;
    width:90%;

  }

  #google-signin{
    margin:auto;
    width:90%;
    margin-top:-4px;
  }

  
  #google-signin button{
     width:100%;
  } 

}  

