/* #trial{
    height:1000px;
    border : 4px solid purple;
    width:auto

} */
/* 
#signup-form{
    border : 2px solid red;
   
} */


#signup-page header{
 
  position:relative;
  display:flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  /* left:30%; */
  margin:auto;
  width:390px;
  margin-top:4%;

}
#signup-page header div{
  color:#5a823354;
  width:3rem;
  height:3rem;


}


#signup-page header button{

  font-size:30px;
  font-weight: bolder;
  width:340px;
  height:70px;

}

#signup-form label{
    /* border :2px solid green; */
    width:100px;

    
}



#signup-form{


    
    width:350px;

    position: relative;
    top:6.5vh;

    margin:auto;
   
}


#signup-form .btn{
    width:140px;
    position:relative;
    top:4vh;
   

  }

#f-name,#l-name,#inputEmail3,#inputPassword3,#confirm-password3{
    /* display:inline-block; */
    width:210px;
  
  } 

 

#signup-form div div div{
    width:100px;

   

} 
/* 
#signup-form div {
    border :3px solid red;
} */

#signup-form div div {
    /* border : 3px solid black; */
    width:300px;
}
/*margins*/

.mg-left-5{
    margin-left:5rem;
} 





/*media query*/





@media only screen and (max-width:480px){

  .mg-left-5{
    margin-left:2rem;
  }
  #f-name,#l-name,#inputEmail3,#inputPassword3,#confirm-password3{

    width:175x;
    font-size:0.92rem;
  
  }
/* 
  #signup-form{
    justify-content: center;
    top:14vh;
    width:100%;
  } */
 





  #signup-form {
    font-size:0.92rem;
    width:100%;
    display:flex;
    justify-content: center;
  }

  #signup-form .btn{
    width:120px;
    

  }


  #signup-page header{
   
    width:280px;
    margin-top:25px;


  } 

  #signup-page header button{
    width:230px;
    font-size:20px;
    
  }
  #signup-page header div{
    margin-top:0.7rem;
    width:2.2rem;
    height:2.2rem;
  }



   
#f-name,#l-name,#inputEmail3,#inputPassword3,#confirm-password3{
    /* display:inline-block; */
    width:150px;
  
  } 


    
        
    

}  

