/* =========== Google Fonts ============ */
#heeee{
  color:grey;
}
#hi{
  color:red;
}
#on{
  color:blue;
}
#hel{
  color:blue;
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

#admin_container {
  display: flex;

  max-height:700px;
  margin-top:90px;



  position:relative;

  left:0px;
 
  
}



/* =============== Navigation ================ */


.navigation {
  z-index:1;

  display: none;

  position: fixed;
  left:0px;
  top:110px;
  width: 250px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
  margin-right:40px;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:first-child{
  position: relative;
  left:-34px;
  top:16px;
}

.navigation ul li:first-child a .title{
  font-size:1.28rem;
  font-family: cursive;
}

.navigation ul li:first-child a .title::first-letter{
  font-size:2.2rem;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
} */

/* --------- curve outside ---------- */
 .navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: relative;
  width: calc(100vw - 250px);

  
  left: 150px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
  /* border:2px solid green; */
}
/* .main.active {
  width: calc(100% - 80px);
 
} */

.toggle {
  position: fixed;
  z-index: 2;
  top:130.5px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox {
  margin:auto;
  position: relative;
  /* left:300px; */
  top:15px;
  margin-top: 50px;;
  width: 100%;
  /* border:2px solid red; */
  padding: 20px;
  display:flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px; */
}

.cardBox .card {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;



  position: relative;
  background: var(--white);
  height:200px;
  width:190px;
  margin:8px;
  
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  /* align-content:  space-evenly; */
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.082);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);

  position: relative;
  /* top:10px; */
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;

  position: relative;
  top:9.4px;
}

.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
  position: relative;
  top:20px;
}

.cardBox .card:hover {
  background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}


#reports-container,#blogs-container{
  position: relative;
  left:200px;
  width: 90%;
  width:700px;
  top:70px;
}

#reports-container{
  margin-top:20px;
}

#blogs-container{
  margin-top:35px;
}



#reports-container div button,#blogs-container div button{
  margin:auto;
  margin-bottom:50px;
  width:725px;
  height:70px;
  border-radius: 20px;

  background-color: var(--blue);
  opacity: 0.98;
  color:white;
  
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.215);
  font-size:1.3rem;

}

#reports-container div button:hover,#blogs-container div button:hover{
  background-color: white;
  color: rgba(0, 0, 0, 0.897);
  border:0.5px solid rgba(0, 0, 0, 0.863);
}



/* ====================== Responsive Design ========================== */
 @media (max-width: 1280px) {

    
  #admin_container {
    margin-top:130px;
  }


  .navigation {
    z-index: 1;
  }
  
  .main {
    width: calc(100vw - 40px);;
    left:0; 

  }

  .cardBox {
    position: relative;
    left:0;
    top:50px;
    margin: auto;
   
    width:100%;
  }


  #reports-container,#blogs-container{  
    width:69vw;
    left:0;
    margin-left:0px;
    margin:auto;
   
  }

  #reports-container{
    margin-top:58px;
  }

  #blogs-container{
    margin-top:35px;
  }


    
  #reports-container div button,#blogs-container div button{

    width:100%;
   
  }



}

@media (max-width: 991px) {
  .main {
    width: 100%;
  }

  .cardBox{
    top:80px;
  }
    
  .cardBox .card {
    height:160px;
    width:140px;
    padding:0px;
  }   

  .cardBox .card .numbers {
    top:10px;
    font-size: 1.76rem;
  }

  .cardBox .card .cardName {
    font-size: 1.01rem;
    top:14px;
   
  }

  .cardBox .card .iconBx {
    font-size: 3.1rem;
    top:15px;
  }
}


@media (max-width: 720px) {

  #admin_container {
    margin-top:90px;
  }

  .cardBox {
    width:95%;
  }

    
  .cardBox .card {
    width:35%;
    margin:23px;
    min-width:155px;
   
  }

  
  #reports-container,#blogs-container {
    width:81vw;
    height:75px;
  }

  
  #reports-container{
    margin-top:35px;
  }

  #blogs-container{
    margin-top:65px;
  }





} 

@media only screen and (max-width: 480px){


    
  #admin_container {

    margin-top:130px;

    max-height:1200px;


  
    
  }



  .cardBox {
    top:43.5px;
    width:100%
  }

    
  .cardBox .card {
    margin-top: 18px;
    width:65%;
    height:170px;
    min-width:202px;
   
  }

  .cardBox .card .numbers {
    font-size:1.87rem;
  }

  .cardBox .card .cardName {
    top:18px;
    font-size: 1.1rem;
  
   
  }

  .cardBox .card .iconBx {
    font-size: 3.2rem;
  }

  
  
  #reports-container{
    margin-top:40px;
  }

  #blogs-container{
    /* margin-top:65px; */
    margin-top:90px;
  }

  #blogs-container div button,#reports-container div button{
    height:90px;
    font-size:1.37rem;
  }


}