@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');



:root{
  --main-color:#d36a9f;
  --black:#222;
  --white:#fff;
  --light-black:#777;
  --light-white:#fff9;
  --dark-bg:rgba(0,0,0,.7);
  --light-bg:#eee;
  --border:.1rem solid var(--black);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}


*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0; 
   box-sizing: border-box;
  outline: none; border:none;
   text-decoration: none;
  /* text-transform: capitalize; */
} 



.footer{

    text-transform: capitalize;

    min-height:320px;
    opacity: 0.98;


    position:relative;
    bottom:0%;
    margin-top:229px;
    background: url("../img/f3.jpg") no-repeat;
    background-size: cover;
    
    background-position-x: center;
    background-position-y:bottom;
    /* background-position: center; */
 }
 
 .footer .box-container{
   position: relative;
   top:35px;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    gap: 1rem;
    margin-top: 11%;
    width:1200px;
    margin:auto;
    height:280px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
 }

 .footer .box-container .box{
  width:265px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  height:174px;

 
  

 }
 
 .footer .box-container .box h3{
  position: relative;
  top:-12px;
    color:var(--white);
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-weight: bold;
    height:25px;
    margin-bottom: 0px;
 }
 
 .footer .box-container .box a{

    color:var(--light-white);
    font-size: 0.82rem;
  
    padding-bottom: 1.5rem;
    display: block;

    height:15px;
    position: relative;
    top:-5px;
    text-decoration: none;
   
 }
 
 .footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
 }
 
 .footer .box-container .box a:hover i{
    padding-right: 2rem;
 }
 

  .footer .credit{
    margin-top:2rem;
  }

  .footer .credit div{
    position: relative;
    top:-9px;
    text-align: center;
    padding-top: 1.5rem;
    border-top: .1rem solid var(--light-white);
    font-size: 1rem;
    color:var(--white);
 }
 
 .footer .credit div span{
  display: inline-block;
    color:var(--main-color);
    font-size:1.38rem;
    font-family: cursive;
 }

 .footer .credit div span::first-letter{
    font-size:1.9rem;
   
 }


 
 /* ====================== Responsive Design ========================== */

 
@media (max-width:1200px){

  

  .footer .box-container{
    top:5px;


    width:100%;
   

     margin:auto;
     height:350px;
   
  }

  .footer .box-container .box{
    width:165px;
   }
 

}



@media (max-width: 991px) {

  
  .footer .box-container{
    top:35px;
    flex-direction: column;
    align-items: center;
     height:430px;
  }

  
  .footer .box-container .box{
    width:180px;
   }
 


  footer{
    font-size:0.3rem;
  }

   .navigation {
     left: -300px;
   }
   .navigation.active {
     width: 300px;
     left: 0;
   }
   .main {
     width: 100%;
     left: 0;
   }
   .main.active {
     left: 300px;
   }
   .cardBox {
     grid-template-columns: repeat(2, 1fr);
   }
 }
 
 @media (max-width: 768px) {
   .details {
     grid-template-columns: 1fr;
   }
   .recentOrders {
     overflow-x: auto;
   }
   .status.inProgress {
     white-space: nowrap;
   }
 }
 
 @media (max-width: 480px) {

  .footer .box-container{
     top:38px;
     width:92vw;
     height:780px;
     align-items: flex-start;
  }

  .footer .box-container .box h3{
    height:27px;
  }

  .footer .box-container .box a{
    top:-8px;
  }

   .cardBox {
     grid-template-columns: repeat(1, 1fr);
   }

   .box h3{

      
      font-size: 15px;
   }
   .cardHeader h2 {
     font-size: 10px;
   }
   .user {
     min-width: 40px;
   }
   .navigation {
     width: 100%;
     left: -100%;
     z-index: 1000;
   }
   .navigation.active {
     width: 100%;
     left: 0;
   }
   .toggle {
     z-index: 10001;
   }
   .main.active .toggle {
     color: #fff;
     position: fixed;
     right: 0;
     left: initial;
   }
 }
 
 
 
 
 
 
 