#report-mail{
    background-color: rgba(107, 218, 181, 0.878);
}

#hi-container{
    color:black;
    font-weight: 700;
    font-size:1.18rem;

}

#url{
    margin:5%;
}

#activites{
    margin:9%;
}