/* #trial{
    height:1000px;
    border : 4px solid purple;
    width:auto

} */
/* 
#signup-form{
    border : 2px solid red;
   
} */


#signin-page header {

  position: relative;
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  /* left:30%; */
  margin: auto;
  width: 405px;
  height: 90px;
  margin-top: 70px;


}

#signin-page header div {
  color: #000000b3;
  width: 2.9rem;
  height: 2.9rem;


}

#signin-page header h1 {
  font-size: 2.45rem;
  font-weight: bolder;
  font-family: 'Brush Script MT', cursive;
}

#signin-page header h1::first-letter {
  font-size: 4.6rem;

}

#signin-form label {
  /* border :2px solid green; */
  width: 100px;


}



#signin-form {
  width: 350px;

  position: relative;
  top: 25.5px;

  margin: auto;

}


label {
  display: inline-block;
  letter-spacing: 0.11rem;
  /* width:150px; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 5em;
  font-weight: 700;
}

#inputEmail3,
#inputPassword3 {
  /* display:inline-block; */
  width: 210px;
  box-shadow: 1px 1px .8px .8px;

}

#signin-form div div div {
  width: 100px;
}

#signin-form div div {
  width: 300px;
}

#signin-submit-container {
  width: 280px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#signin-button {

  margin-top: 5px;
  width: 150px;
  height: 41px;
  box-shadow: 1.4px 1.4px 1.5px 1.5px;
  /* background-color: rgb(14, 51, 235); */
  background-color: #d36a9f;
  border-radius: 5px;
}

#signin-button button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  font-size: 1.08rem;
}

#signin-button .btn {

  position: relative;
  width: 92px;
  top: -5px;
  height: 34px;
  padding: 5px;
  font-size: 1.08rem;
  border: none;
  background-color:#d36a9f
}

#signin-button:hover {
  box-shadow: 1.5px 1.5px 2px 2px;
}

#forgot-password {
  width: 200px;
  margin-top: 14px;
  font-size: 1.02rem;

}

#forgot-password button {
  width:100%;
  height:100%;
  background-color: transparent;
  color: blue;
  text-decoration: underline;
  border: none;
}

#search-email {
  display: none;
  flex-direction: column;
  margin-top: 65px;
  align-items: center;
  margin-bottom: 0px;
}

#search-email input {
  width: 280px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 1.2px 1.2px;
  border-radius: 5px;
}

#search-email input:nth-child(1) {
  padding-left: 10px;
}


#divider-container {
  margin: auto;
  position: relative;
  top: 46px;
  display: flex;
  width: 316px;
  flex-wrap: nowrap;
  justify-content: center;
}

#divider-container p {

  color: grey;
  width: 37.8px;
  position: relative;
  left: -4.6px;
  font-size: 0.815rem;
  padding: 3px;
  top: 6.9px;
}

#divider-container p span {
  font-size: 0.85rem;
  position: relative;
  margin-top: 1px;
}

.line-break {
  position: relative;
  height: 2px;
  width: 130px;
  border-bottom: 1.3px solid grey;
  margin: auto;
}

#x1 {
  margin-right: -31.2px;
}

#x2 {
  margin-left: 0.7px;
}

#google-signin {
  width: 425px;
  height: 44px;
  position: relative;
  box-shadow: 2.2px 2.2px 3px 3px;
  border-radius: 17px;
  background-color: #d36a9f;
  margin: auto;
  top: 68px;
}

#google-signin button {
  letter-spacing: 0.1rem;
  border-radius: 16px;
  height: 100%;
  width: 100%;
  color: white;
  background-color: transparent;
}

#google-signin:hover {
  box-shadow: 2.4px 2.4px 3.4px 3.4px;
}


#google-signin i {
  display: inline-block;
  position: relative;
  top: 1.5px;
  left: -15px;
  font-size: 1.21rem;
  color: white
}


/*margins*/
.mg-left-5 {
  margin-left: 5rem;
}

/*media query*/



@media only screen and (max-width:480px) {


  .mg-left-5 {
    margin-left: 2rem;
  }

  #inputEmail3,
  #inputPassword3 {

    width: 175x;
    font-size: 0.92rem;

  }


  #signin-form {
    font-size: 0.92rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #signin-button {
    margin-top: 15px;
    height: 42px;
    width: 80px;


  }

  #signin-page header {

    width: 280px;
    margin-top: 36px;


  }

  #signin-page header h1 {
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Brush Script MT', cursive;
  }

  #signin-page header h1::first-letter {

    font-size: 49px;

  }

  #signin-page header div {
    margin-top: 0.7rem;
    width: 2.2rem;
    height: 2.2rem;
  }


  #inputEmail3,
  #inputPassword3 {
    width: 150px;

  }


  #forgot-password {
    margin-top: 15px;
  }

  #divider-container {
    margin-top: 0px;

    position: relative;
    width: 81%;
    right: -10px;


  }





  #google-signin {
    margin: auto;
    width: 270px;

    margin-top: -5px;
  }


  #google-signin button {

    font-size: 1rem;

  }






}



/* @media only screen and (max-width:480px){
  
    .mg-left-5{
      margin-left:2rem;
    }
    #inputEmail3,#inputPassword3{
  
      width:175x;
      font-size:0.92rem;
    
    }



    #signin-form {
      font-size:0.92rem;
      width:100%;
      display:flex;
      justify-content: center;
    }

    #signin-submit-container{
      border : 2px solid red;
    }
  
  

         
    #signin-button{
      margin-top:15px;
      height:42px;
      width:80px;
  
    
    } 

    #signin-page header{
     
      width:280px;
      margin-top:36px;
  
  
    } 
 
    #signin-page header h1{
      font-size: 24px;
      font-weight: bolder;
      font-family: 'Brush Script MT', cursive;
    }

    #signin-page header h1::first-letter{

       font-size:49px;

    }
    #signin-page header div{
      margin-top:0.7rem;
      width:2.2rem;
      height:2.2rem;
    }
  
  
  
     
  #inputEmail3,#inputPassword3{
      width:150px;
    
    } 


    #forgot-password{
      margin-top:25px;
    }


    #divider-container{
      position: relative;
      width:89%;
      right:-10px;
      top:-15px;
      
    }
    


    

  #google-signin{
    margin:auto;
    width:270px;
   
    margin-top:-5px;
  }

  
  #google-signin button{

    font-size:1rem;
     
  } 
  
}  
  
   */